//font size
.fs-{
    &14{
        font-size: 14px;
    }
    &16{
        font-size: 16px;
    }
    &20{
        font-size: 20px;
    }
    &32{
        font-size: 32px;
    }
    &40{
        font-size: 40px;
    }
    &48{
        font-size: 48px;
    }
    &80{
        font-size: 80px;
    }
    &120{
        font-size: 120px;
    }
}

//padding-size
.p{
    &-200{
        padding: 200px;
    }
    &t-200{
        padding-top: 200px;
    }
    &l-20{
        padding-left: 20px;
    }
    &r-20{
        padding-right: 20px;
    }
    &b-20{
        padding-bottom: 20px;
    }
    &t-20{
        padding-top: 20px;
    }
    &y-20{
        padding: 20px 0px;
    }
    &t-40{
        padding-top: 40px;
    }
    &l-40{
        padding-left: 40px;
    }
    &y-42{
        padding: 42px 0px;
    }
    &b-160{
        padding-bottom: 160px;
    }
    &y-160{
        padding: 160px 0px;
    }
    &r-15{
        padding-right: 15px;
    }
    &-40{
        padding: 40px;
    }
}